---
const currentYear = new Date().getFullYear();
---

<div class="is-flex is-justify-content-center mt-6 is-flex-direction-column is-align-items-center is-text-6 mb-4 footer-text">
        <p>Made with ❤️ by <a href="/me" class="has-text-grey-darker name">Rifki Maulana</a></p>
  
        <span>© {currentYear} All Rights Reserved.</span>
      </div>