---
const myEmail = "rifki.coding@gmail.com"
---


<div class="is-flex is-justify-content-end" style="padding: 0 1.5rem 0 1.5rem">
    <a href="#contact" class="work-status">
    <p class="status-text is-size-7">
      SCIENCE AND TECH ENTHUSIAST
    </p>
  </a>
      </div>
      <div class="is-flex intro-wrapper is-align -items-center is-justify-content-space-between is-size-3" style="padding: 1.5rem;">
    <div class="is-flex is-flex-direction-column text-profile is-size-7-mobile">
    <h1>Halo,</h1>
    <h1>Saya <a href="/me" class="name">Rifki Maulana</a> <span class="wave">👋</span></h1>
    <div class="description is-size-7">
    <p>Saya adalah lulusan baru SMA jurusan MIPA dengan ketertarikan di bidang IT dan semangat untuk belajar serta berinovasi dalam teknologi. Saya aktif terlibat dalam proyek-proyek teknologi di lingkungan sekolah dan komunitas.</p>
    <div class="pt-3 btn-download is-flex">
    <a class="button is-black is-flex is-justify-content-center is-align-items-center download-button px-3 py-2">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-cloud-download"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 18a3.5 3.5 0 0 0 0 -7h-1a5 4.5 0 0 0 -11 -2a4.6 4.4 0 0 0 -2.1 8.4" /><path d="M12 13l0 9" /><path d="M9 19l3 3l3 -3" /></svg>
      <p class="ml-1">Download CV</p>
        </a>

        <a id="copyButton" class="button  is-flex is-justify-content-center is-align-items-center copy-button px-3 py-2">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-copy"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" /></svg>
          <p class="ml-1">Copy Email</p>
      <input type="text" id="textToCopy" value={myEmail} disabled style="display: none;">

      </a>
    </div>
  </div>
  </div>
    <div class="flipper">
      <div class="front">
          <img src="images/front.jpg" alt="Front Image">
      </div>
      <div class="back">
          <img src="images/back.JPG" alt="Back Image">
      </div>
        </div>
      </div>