---

---
<div class="is-flex is-flex-direction-column pb-6">
    <h2 class="is-size-5-mobile has-text-weight-bold px-5">🎓 Pendidikan</h2>
    <div class="box is-rounded is-background-white mx-5 px-3 py-2 mt-3">
    	<div class="is-flex is-flex-direction-column">
    		<h2 class="is-size-6-mobile has-text-dark has-text-weight-bold">S1 Ilmu Hukum (S.H)</h2>
    		<p class="is-size-7-mobile has-text-dark mt-1">Fakultas Hukum, Universitas Kuningan</p>
    		<p class="is-size-7-mobile has-text-dark">2024 - now</p>
    	</div>
    </div>
    <div class="box is-rounded is-background-white mx-5 px-3 py-2">
    	<div class="is-flex is-flex-direction-column">
    		<h2 class="is-size-6-mobile has-text-dark has-text-weight-bold">SLTA</h2>
    		<p class="is-size-7-mobile has-text-dark mt-1">Matematika dan Ilmu Pengetahuan Alam, SMA Negeri 1 Jalaksana</p>
    		<p class="is-size-7-mobile has-text-dark">2021 - 2024 (GPA : 90,49/100)</p>
    	</div>
    </div>
        <figure class="image is-4by3 mx-5">
          <img src="/image2.jpg" class="custom-image rounded-xl" alt="Deskripsi Gambar">
        </figure>
</div>